*.bak
.idea
volumes
_utils/
*.bck
*.201*
install/
backups/*.sql
includes/config/settings.php
includes/config/tp.config.php
includes/libraries/csrfp/libs/csrfp.config.php
includes/sk.php
includes/teampass-seckey.txt

